body {
	font-family: "Fira Sans Condensed", sans-serif;
	background-color: #e5e5e5;
	margin: 0;
	padding: 0;
}

.card-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.card {
	width: 260px;
	max-width: 100%;
	background: white;
	border-radius: 20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	margin: 20px;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, max-height 0.3s ease-in-out;
	position: relative;
	display: flex;
	flex-direction: column;
}

.shot-date {
	font-family: "Fira Sans", sans-serif;
	font-weight: 200;
}

.additional-data {
	transition: max-height 0.3s ease-out;
	/* Keep this transition */
	overflow: hidden;
	max-height: 0;
	padding: 0 15px;
}

.card-header {
	background: linear-gradient(135deg, #1abc9c, #2ecc71);
	color: white;
	padding: 10px 20px;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50%;
	background: rgba(255, 255, 255, 0.2);
	pointer-events: none;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.card:hover::before {
	opacity: 1;
}

.card-content {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.dropdown-btn {
	background: #2ecc71;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 14px;
	margin-top: 5px;
	flex-direction: row;
	align-items: center;
	font-family: "Fira Sans Condensed", sans-serif;
}

.card:hover::before {
	opacity: 0.5;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	position: absolute;
	transform-origin: left top;
	transform: scaleX(0);
	transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;
}

.data-field {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f7f7f7;
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
	margin-top: 10px;
}

.label {
	color: #555;
	font-family: "Fira Sans Condensed", sans-serif;
	font-weight: 400;
	white-space: nowrap;
	flex-shrink: 0;
}

.inner {
	font-family: "Fira Sans Condensed", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.value {
	font-family: "Fira Sans Extra Condensed", sans-serif;
	color: #111;
	font-weight: 400;
	text-align: right;
	flex-grow: 1;
	padding-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.card-footer {
	background-color: #f7f7f7;
	text-align: center;
	padding: 15px;
	font-size: 14px;
	color: #888;
	border-top: 1px solid #eaeaea;
}

.main-data .data-field {
	font-size: 18px;
	font-weight: bold;
}

.dropdown-btn:hover {
	background: #27ae60;
}

.data-field {
	background: #f0f0f0;
	color: #333;
	margin-top: 10px;
}

#map-modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

#map-container {
	position: relative;
	width: 256px;
	height: 512px;
}

#ball-marker {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: linear-gradient(to right, rgb(231, 34, 34), #d32f2f);
	border: 2px solid rgb(255, 255, 255);
	transform: translate(-50%, -50%);
}

#data-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px, 20px;
	justify-content: center;
}

#pin-marker {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: linear-gradient(to right, rgb(28, 40, 148), #2327f5);
	border: 2px solid rgb(255, 255, 255);
	transform: translate(-50%, -50%);
}

#grid-marker {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: linear-gradient(to right, rgb(251, 255, 0), rgb(255, 238, 0));
	border: 2px solid rgb(255, 255, 255);
	transform: translate(-50%, -50%);
}

#landing-marker {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
	border: 2px solid rgb(255, 255, 255);
	transform: translate(-50%, -50%);
}

#expected-marker {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgb(254, 255, 184);
	opacity: 0.5;
	transform: translate(-50%, -50%);
}

.course-image {
	width: 100%;
	height: auto;
}

.map-position-btn {
	flex-direction: row;
	align-items: center;
	background: #2778ae;
}

.map-position-btn:hover {
	background: #174869;
}

#close-map {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 10px;
	background: #f44336;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#close-map:hover {
	background: #d32f2f;
}

#color-key-trigger {
	font-size: 8px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

#color-key-icon {
	display: block;
	margin: 0 auto;
	width: 20px;
	height: auto;
}

#color-key {
	position: absolute;
	font-size: 10px;
	right: 10px;
	bottom: 40px;
	display: none;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
}

#color-key ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#color-key li {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

#color-key li:last-child {
	margin-bottom: 0;
}

.key-square {
	font-size: 5px;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px;
}

.hidden {
	display: none;
}

#color-key-trigger:hover+#color-key {
	display: block;
}

#color-key:hover {
	display: block;
}

#distance-display {
	font-size: 14px;
	position: absolute;
	text-align: center;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background: #000000;
	color: #FFFFFF;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border: 2px solid #FFFFFF;
}

.navigation-menu {
	background: linear-gradient(135deg, #1abc9c, #2ecc71);
	color: white;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.menu-logo {
	margin-right: 100px;
}

.menu-title {
	font-size: 24px;
	text-align: center;
	margin: 0 120px;
	font-weight: 200;
}

.menu-items {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.menu-items li {
	margin: 0 120px;
}

.menu-items a {
	text-decoration: none;
	color: white;
	background: #2ecc71;
	padding: 1px 10px;
	border-radius: 10px;
	transition: background-color 0.1s ease-in-out;
}

@media (max-width: 768px) {
	.navigation-menu {
		flex-direction: column;
		align-items: flex-start;
	}

	.menu-items {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}

	.menu-items li {
		margin: 10px 0;
	}
}

#tooltip {
	background-color: black;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 14px;
	opacity: 0.75;
}

#compass {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	background-color: #f0f0f0;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

#compass-arrow {
	width: 50px;
	height: 50px;
	background-image: url('img/arrow.png');
	background-size: cover;
	transform-origin: 50% 50%;
}

#wind-speed-display {
	position: absolute;
	bottom: -45px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
}